@model Rh.Models.Instructor

@{
    ViewBag.Title = "Editar Instructor";
}

<h2>Editar Instructor</h2>

@using (Html.BeginForm())
{   
<div class="form-horizontal">
    <h4>Instructor</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.HiddenFor(model => model.ID_INSTRUCTOR, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(model => model.ID_INSTRUCTOR, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ID_INSTRUCTOR, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-md-3" for="Nombre">Nombre Completo</label>
        <div class="col-md-9">
            <input class="form-control text-box single-line" id ="nombreCompleto" name="nombreCompleto" required="required" type="text" />
        </div>
    </div>

    <div class="form-group" hidden>
        @Html.LabelFor(model => model.NOMBRE_COMPLETO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NOMBRE_COMPLETO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NOMBRE_COMPLETO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-md-3" for="Tipo">Tipo</label>
        <div class="col-md-9">
            <select class="form-control" id="tipo" name="tipo" required="required">
                <option value="Interno">Interno</option>
                <option value="Externo">Externo</option>
                <option value="Otro">Otro</option>
            </select>
            <span class="field-validation-valid text-danger" data-valmsg-for="Tipo" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group" hidden>
        @Html.LabelFor(model => model.TIPO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TIPO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TIPO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-md-3" for="compania">Compañía</label>
        <div class="col-md-9">
            <input class="form-control text-box single-line" name="compania" id="compania" required="required" type="text" />
        </div>
    </div>

    <div class="form-group" hidden>
        @Html.LabelFor(model => model.COMPANIA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.COMPANIA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.COMPANIA, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-md-3" for="stp">STP</label>
        <div class="col-md-9">
            <input class="form-control text-box single-line" name="stp" id="stp" required="required" type="text" />
        </div>
    </div>

    <div class="form-group" hidden>
        @Html.LabelFor(model => model.REGISTRO_STP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.REGISTRO_STP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.REGISTRO_STP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Regresar", "VerInstructores")
</div>

<script type="text/javascript">

    let nombreModel = document.getElementById("NOMBRE_COMPLETO").value;
    let tipoModel = document.getElementById("TIPO").value;
    let companiaModel = document.getElementById("COMPANIA").value;
    let stpModel = document.getElementById("REGISTRO_STP").value;

    let nombre = document.getElementById("nombreCompleto").value = nombreModel;
    let tipo = document.getElementById("tipo").value = tipoModel;
    let compania = document.getElementById("compania").value = companiaModel;
    let stp = document.getElementById("stp").value = stpModel;
</script>