@model IEnumerable<Rh.Models.Employee>

@{
    ViewBag.Title = "Empleados";
}

<h2>Empleados</h2>

<p>
    @Html.ActionLink("Parcial", "VerEmpleadosMin")
</p>
<p>
    @Html.ActionLink("Crear", "CrearEmpleado")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullLegalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LegalNameLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LegalNameSecondaryLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LegalNameFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobProfile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupervisoryOrganizationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupervisoryOrganization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JCICFBasePayDaily)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MexicoRFC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MexicoCURP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MexicoIMSS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkShift)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShiftMexico)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullLegalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegalNameLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegalNameSecondaryLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegalNameFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobProfile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupervisoryOrganizationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupervisoryOrganization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JCICFBasePayDaily)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MexicoRFC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MexicoCURP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MexicoIMSS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkShift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftMexico)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarEmpleado", new { id = item.ID })
                @Html.ActionLink("Eliminar", "EliminarEmpleado", new { id = item.ID })
            </td>
        </tr>
    }

</table>
